.navbar {

    width: 70%;
    height: 80px;
    background-color: #CCCCCC;
    position: relative;
    left: 15%;
    display: flex;
    justify-content: space-around;
}

.search {
    width: 250px;
    height: 20px;
    position: relative;
    top: 25px;
}

.button1 {
    width: 60px;
    height: 30px;
    position: relative;
    top: 25px;
    background-color: #2B78E4;
    color: white;
    box-shadow: 3px 3px black;
}

.middlesection {
    border: 2px solid black;
    width: 35%;
    height: 230px;
    position: relative;
    left: 15%;
    top: 30px;
    text-align: left;
    padding-left: 20px;
}

.leftmiddle {
    text-align: left;
    position: relative;
    bottom: 130px;
    left: 270px;
    width: 130px;
    height: 100px;
}

.button2 {
    background-color: #FFD966;
    box-shadow: 3px 3px 3px 3px black;
}

.end {
    border: 2px solid black;
    width: 36.5%;
    height: 230px;
    position: relative;
    left: 15%;
    top: 60px;

}

.leftend {
    text-align: left;
    position: relative;
    padding-left: 20px;
    font-size: 27px;
    bottom: 20px;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h6{
    position: relative;
    bottom:13px;
}

.button3 {
    background-color: #FFD966;
    box-shadow: 3px 3px 3px 3px black;
    position: relative;
    bottom: 20px;
    right: 1px;
}

.rightend {

    width: 130px;
    height: 100px;
    position: relative;
    text-align: left;
    left: 290px;
    bottom: 185px;
    font-size: 16px;
}

.text1 {
    font-size: 15px;
    position: relative;
    bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.side{
    border: 2px solid black;
    height: 140px ;
    width:260px;
    position: relative;
    bottom:438px;
    left:850px;
}
.button4{
   background-color: #93C47D;
   box-shadow: 3px 3px 3px 3px black;
   position: relative;
   left:50px;
   top: 20px;
   width: 150px;
   height:35px;

}
.text2{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top:2px;
    left:20px;
}