
    nav {
        width: 100%;
        height: 9%;
        background-color: #9FC5F8;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    a {
        color: white;
        font-size: 22px;
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    h1 {
        font-size: 30px;
    }

    header {
        font-size: 22px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .border {
        width: 1000px;
        height: 2px;
        background-color: black;
        position: relative;
        top: 1px;
        left: 20%;
    }

    .section {
        height: 320px;
        width: 200px;
        background-color: #EEEEEE;
        position: relative;
        left: 20%;
        margin-top: 2%;
        text-align: center;
        padding-top: 2%;
        font-size: 20px;
    }

    .rain {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .high{
        color: #CF2B28;
        position: relative;
        right:40px;

    }
    .low{
        position: relative;
        left:40px;
        color:#2B78E4
        
    }
    
    .section1{
        height: 320px;
        width: 200px;
        background-color: #EEEEEE;
        position: relative;
        left: 37%;
        bottom:350px;
        text-align: center;
        padding-top: 2%;
        font-size: 20px;
        
    }
    .sun{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .section2{
        height: 320px;
        width: 200px;
        background-color: #EEEEEE;
        text-align: center;
        padding-top: 2%;
        font-size: 20px;
        position: relative;
        left: 55%;
        bottom:700px;
    }
    .section3{
        height: 345px;
        width: 200px;
        background-color: #EEEEEE;
        text-align: center;
        padding-top: 6px;
        font-size: 20px;
        position: relative;
        left:72%;
        bottom:1050px;
    }
    h5,h6{
       
        font-size: 20px;
    }
    footer{
        background-color: #EEEEEE;
        height: 150px;
        width: 980px;
        text-align: left;
        font-size: 18px;
        position: relative;
        bottom:1050px;
        left:300px;
        text-align: left;
        display: fixed;   
    }
    .cookie{
        height:50px;
        width:50px;
        border-radius: 50%;
       
        
    }
    .read{
        color: #125996;
        font-size: 18px;
    }
    
.address{
    padding-left: 70px;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top:40px;
}
.address1{
    padding-left: 50px;
    position: relative;
    bottom:30px;
    left:20px;
   
    
}
button{
    background-color: #9FC5F8;
    box-shadow: 2px 2px 2px 2px black;
    width:90px;
    height:40px;
    position: relative;
    bottom:140px;
    left: 750px;
    
}
select{
    width:40px;
    height:40px;
}
.temperature{
    position: relative;
    left:260px;
}